<div class="horizontal-menu">
  <nav class="navbar top-navbar">
    <div class="container">
      <div class="navbar-content">
        <a routerLink="/" class="navbar-brand nobleui-logo ms-2">
          <img class="logo-image" src="assets/images/logo.png" alt="logo" />
        </a>

        <div class="vertical-line mx-3"></div>
        <!-- Nav Bar Links -->
        <div
          class="d-flex justify-content-center align-items-center"
          *ngIf="!isMobileOrMediumScreen"
        >
          <ul class="navbar-nav">
            <li class="nav-item mx-2" *ngFor="let link of menuItems">
              <a
                placement="bottom"
                [ngbTooltip]="link.label"
                [routerLink]="link.link"
                class="navbar-brand nav-link nobleui-logo"
              >
                <img class="nav-image" [src]="link.icon" alt="logo" />
              </a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav">
          <div
            ngbDropdown
            class="d-flex position-relative flex-column justify-content-center"
          >
            <span
              ngbDropdownToggle
              class="d-flex cursor-pointer flex-row gap-2 justify-content-center align-items-center"
            >
              <img
                class="wd-30 ht-30 rounded-circle"
                src="assets/icons/user.png"
                alt="profile"
              />
              <p class="tx-12 text-white">amiahburton@gmail.com</p>
            </span>

            <div
              ngbDropdownMenu
              class="position-absolute"
              aria-labelledby="dropdownBasic1"
            >
              <button ngbDropdownItem>
                <a
                  href=""
                  (click)="onLogout($event)"
                  class="d-flex text-body ms-0"
                >
                  <i class="feather icon-log-out me-2 icon-md"></i>
                  <span>Log Out</span>
                </a>
              </button>
            </div>
          </div>
        </ul>
        <button
          class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
          type="button"
          (click)="toggleHeaderMenu()"
        >
          <i data-feather="menu" class="text-body"></i>
        </button>
      </div>
    </div>
  </nav>

  <nav class="bottom-navbar" *ngIf="isMobileOrMediumScreen">
    <div class="container">
      <!--- Menu -->
      <ul class="nav page-navigation">
        <ng-container *ngFor="let item of menuItems">
          <li
            class="nav-item"
            [routerLinkActive]="['active']"
            *ngIf="!item.isMegaMenu"
          >
            <a
              class="nav-link"
              [routerLink]="item.link"
              *ngIf="!hasItems(item)"
            >
              <img
                class="link-icon mobile-nav-image"
                [src]="item.icon"
                appFeatherIcon
                *ngIf="item.icon"
              />
              <span class="menu-title text-white">{{ item.label }}</span>
            </a>
            <a [routerLink]="item.link" class="nav-link" *ngIf="hasItems(item)">
              <img
                class="link-icon mobile-nav-image"
                [src]="item.icon"
                appFeatherIcon
                *ngIf="item.icon"
              />
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu" *ngIf="hasItems(item)">
              <ul class="submenu-item" *ngFor="let subMenu of item.subMenus">
                <ng-container *ngFor="let subMenuItem of subMenu.subMenuItems">
                  <li class="category-heading" *ngIf="subMenuItem.isTitle">
                    {{ subMenuItem.label }}
                  </li>

                  <li class="nav-item" *ngIf="!subMenuItem.isTitle">
                    <a
                      class="nav-link"
                      [routerLinkActive]="['active']"
                      [routerLink]="subMenuItem.link"
                      >{{ subMenuItem.label }}</a
                    >
                    <span
                      class="badge bg-{{ subMenuItem.badge.variant }}"
                      *ngIf="subMenuItem.badge"
                      >{{ subMenuItem.badge.text }}</span
                    >
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>

          <li
            class="nav-item mega-menu"
            [routerLinkActive]="['active']"
            *ngIf="item.isMegaMenu"
          >
            <a href="javascript:void(0);" class="nav-link">
              <img
                class="link-icon mobile-nav-image"
                [src]="item.icon"
                appFeatherIcon
                *ngIf="item.icon"
              />
              <span class="menu-title">{{ item.label }}</span>
              <i class="link-arrow"></i>
            </a>
            <div class="submenu">
              <div class="row">
                <div class="col-md-3" *ngFor="let subMenu of item.subMenus">
                  <ul class="submenu-item">
                    <ng-container
                      *ngFor="let subMenuItem of subMenu.subMenuItems"
                    >
                      <li class="category-heading" *ngIf="subMenuItem.isTitle">
                        {{ subMenuItem.label }}
                      </li>

                      <li class="nav-item" *ngIf="!subMenuItem.isTitle">
                        <a
                          class="nav-link"
                          [routerLinkActive]="['active']"
                          [routerLink]="subMenuItem.link"
                          >{{ subMenuItem.label }}</a
                        >
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</div>
